# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# === Environnements virtuels ===
venv/
.env/
.env.bak/
ENV/
env/
.venv/

# === Fichiers VSCode ===
.vscode/
.settings/

# === Fichiers système ===
.DS_Store
Thumbs.db

# === Fichiers temporaires ===
*.tmp
*.bak
*.swp
*.cache/
.cache/
__MACOSX/
*.mp4
*.avi
*.mov
*.mkv

# === Dossiers de sortie ===
outputs/
runs/
checkpoints/
results/
